
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

.image-container {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
}

.image-container.active {
    opacity: 1;
}


 
  
@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@keyframes marquee2 {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

.animate-marquee {
    animation: marquee 15s linear infinite;
}

.animate-marquee2 {
    animation: marquee2 15s linear infinite;
}

.outline-title {
    color: transparent;
    -webkit-text-stroke: 1px white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
  }

  .outline-title2{
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
  }

  .c-text{
    font-family: 'Orbitron', sans-serif;
  }

  .rg{
    color: gray;
  }
